@import "../includes/_mixins";

/* Hide scrollBar but allow scrolling */
html {
  font-size: 16px;
  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
    
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }

  overscroll-behavior: none; 
  scrollbar-width: none; // workaround Firefox,from version 74 (not released on windows as of january 15th, this version will come up on march 10th 2020) 
  ::-webkit-scrollbar {
    display: none; /*Safari and Chrome*/
  }
  @include background-green();
}

body,
html {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative; /*Important: BUG Safari fixed: relative position on the body allow the 
  foreground div to get the whole place of its parent container (originally bottom:0 didn't worked and foreground take the viewport view only  */
  width: 100%;
  overflow: hidden;  
  background-color:black;
}

head {
  display: none;
}

#root{
  overflow-x: hidden;
  position: relative;
}
