@import "../styles/includes/_variables";

/* Hide scrollBar but allow scrolling */
html {
  /*  -ms-overflow-style: none;    IE 10+*/
  /* -ms-overflow-style: -ms-autohiding-scrollbar;*/

  overscroll-behavior: none;
  ::-webkit-scrollbar {
    display: none; /*Safari and Chrome*/
  }
  body,
  html {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative; /*Important: BUG Safari fixed: relative position on the body allow the 
    foreground div to get the whole place of its parent container (originally bottom:0 didn't worked and foreground take the viewport view only  */
    width: 100%;
    overflow: hidden;
    position: relative
   
  }
}

head {
  display: none;
}

#root{
  overflow-x: hidden;
  position: relative;
}