

// vh
:root {
  --vh: 1vh; // initialization, will be replaced automatically by the number of pixel for 1vh whenever the window is resized
  --vw: 1vw;
  --calligraphy-container-height: 61;
  // --calligraphy-row-height: 1; // Not used anymore
 }