$font-family-base: "Franklin Gothic Medium";

h1{
  font-size: 3em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  margin: 0px;
}

p {
  margin: 0px;
}

// Specific font 
@font-face{ 
  font-family: 'Matrix-MZ4P';
  src: url('assets/font/Matrix-MZ4P.ttf') format('truetype');
}

@mixin neon-effect-green{
  text-shadow:  0 0 55px $flashy-green, 0 0 75px $flashy-green, 2px 2px 2px $black;
}

@mixin neon-effect-white{
  text-shadow:  0 0 35px $white,  0 0 55px $white, 0 0 75px $white, 2px 2px 2px $white;
}