.rs-foreground-ui {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;

  &.top-30 {
    max-height: 30vh;
  }

  .rs-header {
    position: fixed;
    height: 5vh;
    width: 100vw;
    will-change: transform; //Because it is fixed we should add will-change to this element as it require much repaints

    .rs-header-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 100%;

      .rs-flag-box {
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
        height: 80%;
        margin-right: 1vw;

        button {
          height: 24.5px;
          width: 32.5px;
          padding: 0;
          margin: 0 10px 0 10px;
          border-radius: 3px;
          outline: none;
          border: 0.5px solid black;
          will-change: box-shadow;
          box-shadow: 0 0 2px 2px
            rgba(0, 0, 0, 0.5);

          &:hover {
            box-shadow: 0 0 0 2px $cyan;
          }

          &.active {
            box-shadow: 0 0 0 2px $cyan;
          }
        }
      }
    }
  }

  @mixin arrow-color-black {
    stroke: $black;
    fill: $black;
  }

  @mixin arrow-color-green-flashy {
    fill: $flashy-green;
    stroke: $flashy-green;
  }

  .rs-footer {
    position: fixed;
    bottom: 15%;
    height: 5vh;
    .rs-footer-content {
      @include flexbox();
      @include justify-content(center);
      width: 100vw;

      svg.rs-arrow-dir-bottom {
        display: none;
        height: 15vh;
        transform: translateX(
          1.25vw
        ); // align SVG on image

        &.is-active {
          display: block;

          .arrow,
          .arrow-fixed,
          .arrow-base {
            // , &:hover path
            transition: all 1s $ease;
            animation: arrow-color-anim 2.5s $ease
              infinite;
          }

          .arrow {
            animation: arrow-anim 2.5s $ease
              infinite;
          }
          .arrow-fixed {
            animation: arrow-fixed-anim 2.5s $ease
              infinite;
          }
        }

        path,
        polygon {
          @include arrow-color-black();
          transition: all 0.5s $ease;
          stroke-width: 0.5px;
        }
      }
    }
  }

  @keyframes arrow-anim {
    5% {
      @include arrow-color-black();
      opacity: 1;
      transform: translateY(0);
    }
    5% {
      transform: translateY(-0.1rem);
    }
    100% {
      transform: translateY(1rem);
      opacity: 0;
      @include arrow-color-green-flashy();
    }
  }

  @keyframes arrow-fixed-anim {
    5% {
      @include arrow-color-black();
      opacity: 0;
    }
    20% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
      fill: $flashy-green;
      stroke: $flashy-green;
    }
  }

  @keyframes arrow-color-anim {
    5% {
      stroke: black;
      fill: black;
    }
    100% {
      fill: $flashy-green;
      stroke: $flashy-green;
    }
  }

  .svg-filters {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .rs-nav {
    list-style: none;
    .rs-li {
      margin-top: 5px;
      &.active {
        .rs-link-container {
          width: 60px;
          transition: 0.5s ease-in-out;
        }
      }
      .rs-link-container {
        display: inline-block;
        position: relative;
        height: 5px ;
        width: 25px;
        border-radius: 50%;
        border: 1px;
        background-color: black;
        // background-color: #c0c0c0;
        z-index: 0;
        transition: 0.3s ease-in-out;

        &.safari {
           //if .safari exist as ancestor
         -webkit-filter: none !important;
          filter: none !important;
        }

        &:hover {
          background-color: transparent;

          &:before,
          span {
            background-color: #2cd892;
          }
        }
        .rs-appended-particle-right {
          position: absolute;
          width: 8px;
          height: 10px;

          // margin-top will be able to position the
          // appended particule along the Y axes
          // margin-top: -3.6px;
          margin-top: -2.4px;
          border-radius: 50%;
          background: #c0c0c0;
          transition: background 0.1s ease-out;
          z-index: -2;
          right: 0px;
        }

        .rs-span-bg {
          position: absolute;
          border-radius: 30%;
          // border: 1px;
          // Make the Span take all the size of its container
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          background: #c0c0c0;
          transition: background 0.1s ease-out;
        }
      }
    }
  }
}
