.rs-slide {
  width: 100vw;
  height: calc(
    var(--vh, 1vh) * 100
  ); //prevent height problem on mobile because of url bar
  margin: 0;

  .rs-home {
    @include pausing-anim();
    @include background-green();
    // @include background-green(); integrer directement avec l'element HTml
    position: relative;
    z-index: 0;
    height: inherit;
    width: inherit;
    
    .rs-title-left {
      position: absolute;
      left:5%;
      top: 75%;
      color: $silver;
      will-change: text-shadow;
      @include responsive(desktop){
        @include neon-effect-green;
      }
      @include responsive(tablet){
        @include neon-effect-green;
      }
    }

    .rs-title-right {
      position: absolute;
      right: 5%;
      top: 25%;
      @include responsive(desktop){
         @include neon-effect-white;
      }
      @include responsive(tablet){
        @include neon-effect-white;
      }

      color: $flashy-green-deep;
      will-change: text-shadow;
    }

    svg {
      max-height: 100%;
      &.rs-full-view-port {
        height: 100vh;
        width: 100vw;

        .rs-portrait-color{
          fill:  $black
        }
      }

      &.icon {
        height: 100%;
        width: 100%;
        position: relative;

        .flag {
          &:hover {
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .rs-about-me {
    @include pausing-anim();
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    height: inherit;
    width: inherit;
    z-index: 1; // Making slide 2 above slide 1, hiding matrix effect behind slide 2 when going dow
    // background-image: url('../assets/img/background-trees.jpg');
    // @include background-green(); integrer directement avec l'element HTml
    @include background-green();

    .rs-calligraphy-container {
      @include flexbox();
      @include flex-direction(column);
      width: 70vw;
      background: url('../assets/img/calligraphyPaper.jpg')
        no-repeat center;
      background-size: 100% 100%;
      border-width: 3px;
      border-style: outset;
      -webkit-box-shadow: 5px 5px 20px 5px #c4ff65;
      -moz-box-shadow: 5px 5px 20px 5px #c4ff65;
      box-shadow: 5px 5px 20px 5px #c4ff65;

      .rs-border {
        @include flex-grow(0.05);
        height: 3vh;
        background: grey;
        opacity: 0.4;
      }
      .rs-middle {
        @include flex-grow(0.6);
        height: calc(
          var(--vh, 1vh) *
            var(--calligraphy-container-height)
        ); // We can't simply concatenate unit string to value, we must perform a calculation
        padding: 1rem;
      }
    }
  }

  .rs-experience {
    height: inherit;
    width: inherit;
    z-index: 2;
    @include background-green();
    // @include background-green(); integrer directement avec l'element HTml
  }

  .rs-contact {
    height: inherit;
    width: inherit;
    z-index: 3;
    @include background-green();
    // @include background-green(); integrer directement avec l'element HTml
  }
}
