
.rs-slide {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100); //prevent height of problem on mobile because of url bar
  margin: 0;
 
  .rs-home {
    @include pausing-anim();
    // @include will-change-opti();
    position: relative;
    z-index: 0;
    height: inherit;
    width: inherit;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;
    


    svg {
      &.rs-full-view-port {
        height: 100vh;
        width: 100vw;
      }
    
      &.icon {
        height: 100%;
        width: 100%;
        position: relative;
    
        .flag {
          &:hover {
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;
          }
        }
      }
    }
    
  }

  .rs-about-me {
    @include pausing-anim();
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    height: inherit;
    width: inherit;
    z-index: 100; // Making slide 2 above slide 1, hiding matrix effect behind slide 2 when going dow
    // background-image: url('../assets/img/background-trees.jpg');

    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;

    .rs-calligraphy-container {
      @include flexbox();
      @include flex-direction(column);
      width: 70vw;
      background: url("../assets/img/calligraphyPaper.jpg") no-repeat center;
      background-size: 100% 100%;
      border-width: 3px;
      border-style: outset;
      -webkit-box-shadow: 5px 5px 20px 5px #c4ff65;
      -moz-box-shadow: 5px 5px 20px 5px #c4ff65;
      box-shadow: 5px 5px 20px 5px #c4ff65;
      
      .rs-border {
        @include flex-grow(0.05);
        height: 3vh;
        background: grey;
        opacity: 0.4;
      }
      .rs-middle {
        @include flex-grow(0.6);
        height: 61vh;
        padding: 1rem;
      }
    }
  }

  .rs-experience {
    height: inherit;
    width: inherit;
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;
  }

  .rs-contact {
    height: inherit;
    width: inherit;
    background: $background-color-earthly-fallback;
    background: $background-color-earthly-webkit;
    background: $background-color-earthly;
  }
}
