# See https://help.github.com/ignore-files/ for more about ignoring files.

# firebase
/.firebase2

# dependencies
/node_modules

# production
/build

# VsCode settings
/.vscode

# misc
.DS_Store
.env


npm-debug.log*
