
//Green background
$background-color-green-black-fallback: #52c234; /* fallback for old browsers */
$background-color-green-black-webkit: -webkit-linear-gradient(
  to right,
  #061700,
  #52c234
); /* Chrome 10-25, Safari 5.1-6 */
$background-color-green-black: linear-gradient(
  to right,
  #061700,
  #52c234
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

//earthly background
$background-color-earthly-fallback: #649173; /* fallback for old browsers */
$background-color-earthly-webkit: -webkit-linear-gradient(to right, #649173, #dbd5a4); /* Chrome 10-25, Safari 5.1-6 */
$background-color-earthly: linear-gradient(
  to right,
  #649173,
  #dbd5a4
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


$silver: #c0c0c0;
$flashy-green: #49FF18;
$yellow-green: #D2FF2A;
$flashy-green-deep: #186103;
$black: #222; // black raisin as black base
$white: #CDD7D6; // light grey as white base
$cyan: #00FFFF;