.matrix {
  opacity: 1;

  @for $i from 1 through 100 {
    $y: randomRange(-30, 70);
    $x: randomRange(-5, 95);
    $opa: randomRange(7, 10) / 10; // opacite between 0.3 and 1
    // @warn $y;
    p {
      &:nth-child(#{$i}) {
        opacity: 0;
        cursor: default;
        font-size: percentage(random(15) / 5);
        // color: white;
        color: #c0c0c0;
        writing-mode: vertical-rl;
        text-orientation: upright;
        position: absolute;
        animation: vertical-transform infinite randomRange(4, 10) + s linear #{$i/2}s;
        left: calc(var(--vw, 1vw) * #{$x}); // Will replace p element on the X according to viewport resize
        top: calc(var(--vh, 1vh) * #{$y}); // Will replace p element on the Y according to viewport resize
      }
    }

    @keyframes vertical-transform {
      0% {
        opacity: 0;
        transform: translateY(0%);
      }
      50% {
        opacity: #{$opa};
        transform: translateY(10%);
      }
      100% {
        opacity: 0;
        transform: translateY(20%);
      }
    }
  }
}

.animated-element {
  opacity: 0;
  &.slide-up {
    animation: slide-up 3s forwards;
  }
}

/**
 * Sliding 10 vh towards up and making opacity from 0 to 1
 */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--vh, 1vh) * 10 ));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
