 @import './variables';
 
.slide {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100); //prevent height of problem on mobile because of url bar
  margin: 0;

  .App-header {
  position: relative;
  text-align: center;
  background: #222!important;
  height: 10vh!important;
  color: white;
    h1{
      @extend %vertical-align;
    }
  }

  .slide-home{ 
    position:relative;
    z-index: 0;
    height: inherit;
    width: inherit;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;
  }
 
  .slide-aboutMe{
    position:relative;
    height: inherit;
    width: inherit;
    z-index: 100; // Making slide 2 above slide 1, hiding matrix effect behind slide 2 when going dow
    // background-image: url('../assets/img/background-trees.jpg');
    background-size:     cover; /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;

    .calligraphy-container{
      @extend %vertical-align;
      width: 70vw;
      height:70vh;
      background-image: url("../assets/img/calligraphyPaper.jpg");
      border-width:3px;
      border-style:outset;
      -webkit-box-shadow: 5px 5px  20px 5px #c4ff65 ;
      -moz-box-shadow: 5px 5px  20px 5px #c4ff65 ;
      box-shadow: 5px 5px  20px 5px #c4ff65 ;
      // background-repeat: repeat-y;
      .border{
        height: 3vh;
        @extend %grain-texture;
      }
      .middle{
        height:64vh;
      }
    }
  }
  
  .slide-experience{
    height: inherit;
    width: inherit;
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;

    canvas{
      // @extend %vertical-align;
    }
  }

  .slide-contact{
    height: inherit;
    width: inherit;
    background: $background-color-earthly-fallback;
    background: $background-color-earthly-webkit;
    background: $background-color-earthly;
  }
}

  .calligraphy-grid-container{
    display: grid;
    grid-gap: 10px;
    height:100%;
    width: 100%;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: 
    ". . a"
    ". . b"
    ". c .";
  }
   

$grid-column-count: 10;
$grid-row-count: 10;
$grid-calligraphy-count: 100;


/*

@for $i from 1 to $grid-calligraphy-count {
  .grid-item-#{$i} {
    grid-area: #{$i};
  }
}
*/
 /*grid-template-areas: 
    ". . . . . . . . j ."
    ". . . . . . . . k a"
    ". . . . . . . . l b"
    ". . . . . . . . m c"
    ". . . . . . . . n d"
    ". . . . . . . . . e"
    ". . . . . . . . 18 f"
    ". . . . . . . . . g"
    ". . . . . . . . . h"
    ". . . . . . . . . i";
  }*/

  /*
  .calligraphy-grid-item{
    grid-auto-flow: column;
    grid-column-start: 14;
  } */

.grid-item-1{
  grid-area: a
}

.grid-item-2{
  grid-area: b
}

.grid-item-3{
  grid-area: c
}