 @import './variables';
 

.slide {
  position:relative;
  min-width: 100vw;
  // min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  .App-header {
  position: relative;
  text-align: center;
  background: #222!important;
  height: 10vh!important;
  color: white;
    h1{
      @extend %vertical-align;
      position: absolute;
    }
  }

  main{
    background: transparent;
    margin: 0;
    width: 100vw;
    height: 90vh;
    position:relative; /* every element inside, having position absolute, will be positionned accordingly*/

    canvas{
      position: absolute; /* Canvas will be positionned in the middle of their parent (Main)*/
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%, -50%); 
      -moz-transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      -o-transform: translate(-50%, -50%); 
      transform: translate(-50%, -50%); 
    }
  }

  .slide-home{ 
    background-image: url('../assets/img/background-trees.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background: black;

    .matrix{
      opacity:1;
    
      @for $i from 1 through 100 {
        $y: randomRange(-30,70);
        $x: randomRange(-5,95);
        $opa:  randomRange(3,10)/10; // opacite between 0.3 and 1
        // @warn $y; 
        p{ 
          &:nth-child(#{$i}) {
          opacity: 0;
          font-size: percentage(random(15)/5);
          color: #C0C0C0;
          writing-mode: vertical-rl;
          text-orientation: upright;
          position: absolute;
          animation: vertical-transform infinite randomRange(4,10)+s linear #{$i/2}s; 
          left: calc(var(--vw, 1vw) * #{$x});
          top: 	calc(var(--vh, 1vh) * #{$y});
        }
      }
    
        @keyframes vertical-transform {
          0% {  opacity: 0; transform: translateY(0%)} 
          50% {  opacity : #{$opa}; transform: translateY(10%)} 
          100% {  opacity :	0; transform: translateY(20%)} 
        }
      }
    } 
  }
  
  .slide-aboutMe{
    background-image: url('../assets/img/background-trees.jpg');
    background-size:     cover; /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;

    p {
      display: absolute;
      font-size: 14px;  
      padding: 0px; /* remove padding above and below */
      margin:0px;  /* remove margin left and right */
    }
    main::before{
      content:"";
      display:block;
      width: 80vw;
      max-width:100vw;
      height: 400px;
      max-height:100vh;
      float: left;
      /* background: rgb(0,212,255);
      background: linear-gradient(150deg, rgba(0,212,255,1) 30%, rgba(9,9,121,0) 50%);
      shape-outside: linear-gradient(150deg, rgba(0,212,255,1) 30%, rgba(9,9,121,0) 50%);*/
    }    
  }
  .slide-experience{
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;
  }

  .slide-contact{
    background: $background-color-earthly-fallback;
    background: $background-color-earthly-webkit;
    background: $background-color-earthly;
  }
}