 @import './variables';
 
.slide {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100); //prevent height of problem on mobile because of url bar
  margin: 0;

  .App-header {
  position: relative;
  text-align: center;
  background: #222!important;
  height: 10vh!important;
  color: white;
    h1{
      @extend %vertical-align;
     
    }
  }

  .slide-home{ 
    position:relative;
    z-index: 0;
    height: inherit;
    width: inherit;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background: white;

    .svgStyle  {
      height: 100vh;
      width: 100vw;
    }

    #blackNavy{
      fill:blue !important
    }
  }
 
  .slide-aboutMe{
    position:relative;
    height: inherit;
    width: inherit;
    z-index: 100; // Making slide 2 above slide 1, hiding matrix effect behind slide 2 when going dow
    background-image: url('../assets/img/background-trees.jpg');
    background-size:     cover; /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;

    .calligraphy-container{
      @extend %vertical-align;
      width: 70vw;
      height:70vh;
      background-color:grey;

    }
  }
  .slide-experience{
    height: inherit;
    width: inherit;
    background: $background-color-green-black-fallback;
    background: $background-color-green-black-webkit;
    background: $background-color-green-black;

    canvas{
      @extend %vertical-align;
    }
  }

  .slide-contact{
    height: inherit;
    width: inherit;
    background: $background-color-earthly-fallback;
    background: $background-color-earthly-webkit;
    background: $background-color-earthly;
  }
}