svg {
  &.fullViewPort {
    height: 100vh;
    width: 100vw;
  }

  &.icon {
    height: 100%;
    width: 100%;
    position: relative;

    .flag {
      &:hover {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
