.slide{
  min-width: 100vw;
  min-height: 100vh;
  }
  
  .App {
    margin: 0;
    padding: 0;
    margin: 0;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    display:block;
    background: #222!important;
    height: 150px !important;
    color: white;
    font-family: sans-serif;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  main{
    background: transparent;
    margin: auto;
    width:100%;
  }
  
  #slide-home{ 
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 100.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 100.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 100.71%);
  }
  
   #slide-aboutMe main::before{
     content:"";
     display:block;
     width: 100vw;
     height: 100vh;
     float: left;
     background: rgb(0,212,255);
     background: linear-gradient(150deg, rgb(204, 241, 35) 30%, rgba(9,9,121,0) 50%);
     shape-outside: linear-gradient(150deg, rgba(0,212,255,1) 30%, rgba(9,9,121,0) 50%);
   }
   
   #slide-aboutMe p {
    font-size: 36px;  
  }
   