/* Hide scrollBar but allow scrolling */
html {
    -ms-overflow-style: none;  /*  IE 10+*/
    overflow: -moz-scrollbars-none;  /* Firefox*/
}
html::-webkit-scrollbar { 
    display: none;  /*Safari and Chrome*/
}

head {
  display:none
}

body, html {
  min-height: 100vh;
  margin: 0px;
  width:100%;
}



